<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cakes available stock</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>List of cakes</h1>
	
	<div th:if="${not #lists.isEmpty(cakes)}">
	    <table class="table table-striped">
	        <tr>
	            <th>Id</th>
	            <th>Name</th>
	            <th>Price</th>
	            <th>Quantity</th>
	        </tr>
	        <tr th:each="cake : ${cakes}">
	            <td th:text="${cake.id}"></td>
	            <td th:text="${cake.name}"></td>
	            <td th:text="${cake.price}"></td>
	            <td th:text="${cake.quantity}"></td>
	        </tr>
	    </table>
    </div>
	
</body>
</html>